.booking {
  padding-top: 30px;
  padding-bottom: 28px;
}

.booking__title {
  font-size: 30px;
  margin: 0;
}

.booking__button {
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @blue;
  border: 0;
  width: 280px;
  min-height: 59px;
  margin-right: 0;
  margin-top: 40px;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 21px;
  outline: 0;
}
