.booking {
  padding-top: 30px;
  padding-bottom: 41px;

  &__text {
    padding-right: 30px;
    padding-left: 30px;
  }

  &__title {
    font-size: 21px;
    margin: 0;
  }

  &__button {
    color: white;
    text-transform: uppercase;
    background-color: @blue;
    border: 0;
    width: 280px;
    min-height: 59px;
    margin-top: 24px;
    font-family: @font-family;
    font-size: 21px;
  }
}
