.checkbox {
  padding: 0;
}

.checkbox__list {
  padding: 0;
  margin-top: 26px;
}

.checkbox__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: initial;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.checkbox__item {
  padding-left: 20px;
}

.checkbox__input {
  margin-right: 27px;
}
