.contacts {
  padding: 0;
}

.contacts__list {
  padding: 0;
  margin-top: 29px;
}

.contacts__label {
  display: flex;
  flex-direction: column;
}

.contacts__input {
  flex-grow: 1;
  outline: none;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 14px;
  margin-bottom: 20px;
  background-color: @grey;
  font-weight: bold;
  border: none;
}

.contacts__input::placeholder {
  .placeholder(black, 18px);
}
