.features {
  &--blue {
    color: white;
    background-color: @blue;
  }

  &__wrapper {
    color: black;
    background-color: @grey;
  }

  &__text {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 27px;
    padding-right: 28px;
  }

  &__title {
    font-size: @font-size;
  }

  &__photo {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .features--blue {
    display: flex;
  }

  .features--reverse {
    flex-direction: row-reverse;
  }

  .features__wrapper {
    display: flex;
    flex-direction: row;
  }
}
