.footer {
  padding-top: 31px;
  padding-bottom: 35px;

  &__hashtag {
    font-size: 21px;
    color: black;
    font-weight: bold;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
  }

  &__hashtag {
    margin-left: 8px;
  }
}
