.form {
  &__name {
    padding: 0;
  }

  &__title {
    font-size: @font-size;
    margin-top: 24px;
  }

  &__submit {
    width: 280px;
    min-height: 59px;
    font-family: @font-family;
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    background-color: @blue;
    border: 0;
    margin-top: 50px;
    margin-bottom: 47px;
  }
}
