.header {
  display: flex;
  position: relative;

  &__logo {
    height: 83px;
    display: block;
    background: url("../img/logo-sedona-mobile.svg");
    background-repeat: no-repeat;
    width: 102px;
    margin-left: calc(50% - 51px);
  }

  &__list {
    display: none;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    display: block;
    width: 50px;
    height: 34px;
    background-color: white;

    cursor: pointer;
    border: none;
    margin-right: 19px;
    margin-top: 14px;
    outline: none;
  }

  &__toggle::before {
    content: "";

    position: absolute;
    top: 7px;
    left: 30px;

    width: 23px;
    height: 3px;

    background-color: @blue;
    box-shadow: 0 8px 0 0 @blue, 0 16px 0 0 @blue;
  }
}

@media (min-width: @tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      list-style: none;
      margin: 0;
      padding: 0;
      width: calc(50% - 51px);
      height: 56px;
    }

    &__toggle {
      display: none;
    }

    &__logo {
      position: absolute;
      left: calc(50% - 51px);
      margin-left: 0;
    }

    &__item {
      min-width: 153px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

@media (min-width: @desktop-width) {
  .header {
    &__list {
      width: calc(50% - 122px);
    }

    &__item {
      min-width: 153px;
    }

    &__logo {
      height: 96px;
      background: url("../img/logo-sedona-desktop.svg");
      background-repeat: no-repeat;
      width: 244px;
      left: calc(50% - 122px);
      margin-left: 27px;
      margin-right: 27px;
      background-position: center;
    }
  }
}
