.main__title {
  font-size: @font-size;
  margin-top: 43px;
  margin-bottom: 36px;
  margin-left: 32px;
  margin-right: 32px;
}

.main__bg-triangle {
  margin-bottom: -28px;
  min-width: @mobile-width;
}

@media (min-width: @tablet-width) {
  .main__title {
    font-size: 21px;
    margin-top: 47px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .main__bg-triangle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    margin-top: 110px;
  }
}
