.main p {
  line-height: 24px;
}

.main__title {
  font-size: @font-size;
  margin-top: 43px;
  margin-bottom: 36px;
  margin-left: 32px;
  margin-right: 32px;
}

.main__title--photo,
.main__title--form {
  margin-top: 39px;
  margin-bottom: 27px;
}

.main__bg-triangle {
  margin-top: -8px;
}

@media (min-width: @tablet-width) {
  .main__title {
    font-size: 21px;
    margin-top: 47px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .main__title--photo {
    margin-top: 68px;
    margin-bottom: 27px;
    font-size: 30px;
  }

  .main__bg-triangle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    margin-top: 50px;
    margin-left: 355px;
    margin-right: 355px;
    margin-bottom: 30px;
  }

  .main__title--photo {
    margin-top: 105px;
    margin-bottom: 25px;
  }

  .main p {
    margin-right: 385px;
    margin-left: 385px;
  }
}
