.photos {
  margin-top: 0;

  &__list {
    padding: 0;
    margin-top: 0;
  }

  &__item {
    padding-top: 36px;
    padding-bottom: 3px;
  }

  &__text {
    padding-left: 20px;
    text-align: left;
    line-height: 1.71;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__author {
    text-transform: initial;
  }

  &__likes-number {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__likes {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .photos {

    margin-top: 67px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;
      margin-right: 60px;
    }

    &__item {
      padding: 0;
    }

    &__item--first {
      min-width: 648px;
      margin: 0 auto;
      flex-grow: 1;
    }

    &__item--first .photos__image {
      height: 400px;
    }

    &__image {
      width: 324px;
      height: 267px;
    }

    &__image--first {
      min-width: 648px;
    }

    &__text {
      height: 80px;
      background-color: @grey;
      margin-top: -18px;
      padding-right: 20px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      padding-top: 17px;
    }

    &__likes-number {
      margin-top: -10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos {
    margin-top: 71px;

    &__list {
      margin-left: 0;
      margin-right: 0;
    }

    &__item {
      width: 400px;
      height: 267px;
    }

    &__item--first {
      min-width: @desktop-width;
      min-height: 400px;
      margin: 0 auto;
      flex-grow: 1;
    }

    &__image {
      width: 400px;
      height: 267px;
    }

    &__image--first {
      min-width: @desktop-width;
      height: 400px;
    }

    &__likes {
      opacity: 1;
    }

    &__likes path {
      fill: white;
    }

    &__text {
      margin-top: -100px;
      color: @white;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
