.photos__list {
  padding: 0;
}

.photos__item {
  padding-top: 23px;
  padding-bottom: 23px;
}

.photos__text {
  padding-left: 20px;
  text-align: left;
  line-height: 1.71;
}

.photos__title {
  font-size: 14px;
  font-weight: bold;
}

.photos__author {
  text-transform: initial;
}

.photos__likes-number {
  display: block;
}
