.photos {
  &__list {
    padding: 0;
  }

  &__item {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__text {
    padding-left: 20px;
    text-align: left;
    line-height: 1.71;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
  }

  &__author {
    text-transform: initial;
  }

  &__likes-number {
    display: block;
  }
}
