.radio {
  padding: 0;

  &__list {
    padding: 0;
    margin-bottom: 25px;
  }

  &__item {
    padding-left: 20px;
  }

  &__label {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-transform: initial;
    font-weight: bold;
    font-size: @font-size;
    align-items: center;
    color: black;
  }

  &__input {
    margin-right: 20px;
  }
}
