.radio {
  padding: 0;
}

.radio__list {
  padding: 0;
  margin-bottom: 25px;
}

.radio__item {
  padding-left: 20px;
}

.radio__label {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  text-transform: initial;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  color: black;
}

.radio__input {
  margin-right: 20px;
}
