.textarea {
  padding: 0;
}

.textarea__text {
  font-size: 18px;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
  margin-top: 7px;
  padding-top: 22px;
  padding-left: 21px;
  padding-right: 33px;
  width: 230px;
  height: 160px;
  outline: none;
  background-color: @grey;
  border: none;
}
