.welcome {
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 389px;
  background-size: cover;
  margin-top: -26px;
}

@media (min-width: @tablet-width) {
  .welcome {
    margin-top: 0;
  }
}
